<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Discord Oauth Example</title>
  </head>
  <body>
   <h1>
    Hi <%= username %>
    <img src="https://cdn.discordapp.com/avatars/<%= userid %>/<%= avatar %>.png?size=128"
   </h1>
  </body>
</html>
