<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
      <title>Discord Oauth Example</title>
   </head>
   <body>
    <div class="centromax">
      <p class="is-medium">
         Hi <%= username %>
         <img src="https://cdn.discordapp.com/avatars/<%= userid %>/<%= avatar %>.png?size=128" style="border-radius:50%">
      </p>
    </div>
   </body>
</html>
