<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Disord Oauth Example</title>
     <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
  </head>
  <body>
    <div class="columns is-desktop is-vcentered" style="width: 200px;">


      <a class="button is-primary is-inverted" href="login">
                                    <span class="icon">
                                        <i class="fab fa-discord" aria-hidden="true"></i>
                                    </span>
                                    <span>Login with Discord</span>
                                </a>
    </div>
  </body>
</html>
